#rana {
    color: green
}

.Toni {
    color: yellow;
    text-align: center
}

#body1 {
    background-color: blue;
}

.parrafo1 {
    color: red;
    font-size: 21px;
}

.parrafo2 {
    color: blue
}

.ranaimagen {
    text-align: center;
    background-color: red;
}

.serpientetitle {
    color: green
}

.Reptil {
    font-size: 21px;
}

.Reptil2 {
    background-color: yellow;
}

#header1 {
    background-color: orange;
}